<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>Locate Mate</title>
<link rel="stylesheet" type="text/css" href="stylesheets/general.css">
<link rel="stylesheet" type="text/css" href="stylesheets/nav-bar.css">
<link rel="stylesheet" type="text/css" href="stylesheets/map-part.css">
<link rel="stylesheet" type="text/css" href="stylesheets/filter-part.css">
<link rel="stylesheet" type="text/css" href="stylesheets/slider.css">
<link rel="stylesheet" type="text/css" href="stylesheets/result-part.css">
<link rel="stylesheet" type="text/css" href="stylesheets/facebook-api.css">
