<div id="navigation-base">
	<div id="navigation-bar">
		<a href="" class="pull-left" id="logo">
			<img src="images/icons/main_logo.png" alt=""  id="logo-img">
			<span id="logo-char">Locate Mate</span>
		</a>
		<!--for logo.-->
		<ul class="nav pull-left" id="search-from-header">
			<li id="search-option-list" class="dropdown search-set">
				<select id="search-option">
					<option value="friend" class="each-option">Friend</option>
					<option value="place" class="each-option">Place</option>
				</select>
			</li>
			<li id="header-search" class="search-set">
			<!--	<form class="search-box search-set">-->
					<!--memo: inlineはinlineにしたいものが含む全てのclassに適用される必要ある-->
					<!--cf;https://www.udemy.com/blog/search-box-css/-->
					<input id="search-box-material" class="controls" type="text" placeholder="Locate Mate!">
			<!--	</form>-->
			</li>
<!--			<li id="search-browse" class="dropdown search-set">
				<a class="dropdown-toggle link-reset" href="">Browse<img src=""></a>
				<select id="browse-menu">
					<option value="close-friend">Close Friends</option>
					<option value="popular">Popular</option>
					<option value="other">Other</option>
				</select>
			</li>-->
			<!-- cut browse function for minimum product.-->
		</ul>

		<span id="help" class="nav pull-right">
			<a class="link-reset" href="">Help</a>
		</span>
		<span id="wishlist" class="nav pull-right">
			<a class="link-reset" href="wishlist.html">Wish Lists</a>
		</span>
		<span class ="nav pull-right">
			<span id="user-name">Kate</span>
		</span>
		<span class="nav pull-right">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/48.jpg" id="user-img" alt="">
		</span>
<!--			<span id="continue-facebook" class="nav pull-right">
			<a href="" class="link-reset"><img src="images/icons/connect_facebook_icon.png" id="connect_facebook_img" alt="">
			</a>
		</span>-->
	</div>
</div>
