<div class="listing col-5">
	<div class="panel-image">
		<a href="">
			<img src="{{this.panel-img}}" class="listing-img" alt="">
		</a>
	</div>
	<div class="panel-body">
		<div
			class="fb-like listing-like pull-left"
			data-layout="button"
			data-action="like"
			data-show-faces="false"
			data-width="250"
			data-share="false">
		</div>
<!--
		<a href="">
			<img src="images/icons/like_icon.png" class="listing-like" alt="">
		</a>
-->
		<a href="">
			<img src="{{this.prof-img}}" class="listing-profile-img" alt="">
		</a>
		<img src="{{this.pin-icon}}" class="listing-pin" alt="">
	</div>
</div>

