<div class="search-result">
	<div class="header-section">
		<p class="header-section-title">Photo Feed</p>
	</div>
	<div class="search-result-container">
		<div class="row listings-container">
			{{#each feedData}}
				{{>photo_feed}}
			{{/each}}
		</div>
	</div>
	<div class="search-result-footer">
		<div class="pagination-buttons-container">
			<div class="results_count">
				<p>1-2 of 8 people</p>
			</div>
			<div class="pagination">
				<ul class="pagination-list">
					<li>
						<a href="" target="1" class="active">
							<span class="page-number">1</span>
						</a>
					</li>
					<li>
						<a href="" target="2">
							<span class="page-number">2</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

