html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	z-index:1;
	min-width:900px;
}
body{
	position:absolute;
	z-index:4;
	width:100%;
	min-width:900px;
	height:100%;
	margin:0;
	padding:0;
	font-family:'Gulim';
	/*全体のfontをここで指定して統一*/
/*	background-color:blue;*/
}

.pull-left{
	position:relative;
	float:left;
}
.pull-right{
	position:relative;
	float:right;
}
.dropdown{
}

.dropdown-toggle{
}
.dropdown-menu{
}
.link-reset{
}
.row{
	position:relative;
	width:100%;
	height:auto;
	overflow:hidden;
	/*overflowをhiddenにすることで中身に応じてautoで高さきまる。*/
	margin:0;
	margin-top:5px;
	padding:0;
/*	border:1px solid red;*/
}
.col-2{
	float:left;
	position:relative;
	width:14%;
	height:auto;
	margin:0;
	padding:0;
/*	border:1px solid black;*/
}

.col-3{
	float:left;
	position:relative;
	width:22%;
	height:auto;
	margin:0;
	padding:0;
/*	border:1px solid black;*/
}
.col-4{
	float:left;
	position:relative;
	width:30%;
	height:auto;
	margin:0;
	padding:0;
/*	border:1px solid black;*/
}
.col-5{
	float:left;
	position:relative;
	width:45%;
	height:auto;
	margin:0;
	padding:0;
}

.col-8{
	float:left;
	position:relative;
	width:68%;
	height:auto;
	margin:0;
	padding:0;
/*	border:3px solid black;*/
}
.checkbox-type{
	margin-top:28px;
}

