.map-search{
	margin-top:47px;
	position:absolute;
	width:100%;
	height:auto;
	min-width:900px;
	background-color:#f8f8f8;
	/*overflow:autoにすることで残り一杯かこめる*/
	/*navとの重なり*/
/*	background-color:green;*/
}
.map-section{
/*	clear:both;*/
	position:relative;
	/*ここrelativeじゃないと、slidebarのdivが上にfloatしてくる。*/
	width:40%;
	min-width:400px;
	height:100vh;
	/*ここのzindexとfilterresultのindexの衝突*/
	/*width and height for get space for image relatively to slidebar.*/
/*	background-color:red;*/
}
#map-test{
	position:fixed;
	min-width:400px;
/*	top:50px;
	left:0px;
	border:3px solid #00FFFF;
	height:500px;
	width:500px;*/
}
/*map-testを置いたらなぜかうまくいった..*/
#map-fixed{
	position:fixed;
	top:47px;
	left:0px;
	margin:0;
	padding:0;
/*	border:10px solid black;*/
	width:40%;
	min-width:400px;
	height:100%;
	z-index:10;
}
#map-canvas{
	position:absolute;
	height:100%;
	/*残りのブラウザサイズ計算するjsかいてサイズはきめる*/
	/*100%だと下に下がってる分、ちょっとはみ出してるはず。*/
	width:100%;
	min-width:400px;
	/*googlemapのためには100%だった。fixedだから親の引き継がずに全体のをみて、40%が正解だったのに。divのままだったら*/
	/*test divを足したら40%でうまくいった。なぞだけど回るのでこのままにする。*/
	margin:0px;
	padding:0px;
	background-color:transparent;
	border-right:2px solid #A9A9A9;
	z-index:10;
}
.sidebar{
}

