/*for result-part*/
.search-result{
	border:0px solid black;
	position:relative;
	width:100%;
	height:auto;
	/*なんでかわかんないけど他のcssのoverflow:auto消したらちゃんと全部みれるようになった。*/
	top:30px;
	background-color:transparent;
}
.search-result-header{
	border-top:1px solid #D6D3D3;
	border-bottom:1px solid #D6D3D3;
	height:50px;
	margin-top:0;
	background-color:#F0F0F0;
	margin-left:-6%;
	position:relative;
	width:117%;
	left:-60px:
}
.search-result-header p{
	text-align:center;
	font-size:20px;
	position:relative;
	top:-5px;
}

.listings-container{
/*	border:3px solid red;*/
	width:100%;
}
.listing{
	border:1px solid #D6D3D3;
	border-radius:5px;
	margin-left:4%;
	margin-top:29px;
}
.panel-image{
	position:relative;
	max-width:100%;
}
#listing-img{
	max-width:100%;
}
.panel-body{
/*	border:1px solid green;*/
	position:relative;
	width:100%;
}
.panel-body a{
	text-decoration:none;
}

#listing-like{
	position:relative;
	width:13%;
	bottom:7px;
	left:15px;
}
#listing-profile-img{
	border:1px solid #D6D3D3;
	position:relative;
	width:20%;
	margin-left:25%;
	border-radius:50%;
}
#listing-pin{
	position:relative;
	width:14%;
	margin-left:16%;
	bottom:6px;
	right:-7px;
}
.search-result-footer{
	position:relative;
	height:30px;
}

.pagination-buttons-container{
	position:relative;	
}
.result_count{
	position:relative;
}
.pagination{
}
.pagination-list{
}
.pagination-list a{
	border:1px solid #D6D3D3;
	height:30px;
	width:30px;
	display:inline-block;
	text-decoration:none;	
}
.pagination-list li{
	list-style-type:none;
	display:inline;
	text-align:center;
	margin-right:10px;
}
.page-number{
	position:relative;
	top:6px;
}

.active{
	background-color:#D6D3D3;
}
