<!DOCTYPE html>
<html lang="en-AU">
<head>
	<meta charset="UTF-8">
	<title>Locate Mate</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/header.css">
	<script type="text/javascript" src="../assets/javascripts/filter.js" ></script>
</head>

<body>

	<div id="header">
		<div class="page-container">
			<a href="/" class="pull-left" id="logo">
				<img src="" id="logo-img">
				<span id="logo-char">LocateMate</span>
			</a>
			<!--for logo.-->
			<ul class="nav pull-left" id="search-from-header">
				<li id="search-option" class="dropdown">
					<select id="search-option">
						<option value="friend">Friend</option>
						<option value="place">Place</option>
					</select>
				</li>
				<li id="header-search">
					<form class="search-box">
						<!--cf;https://www.udemy.com/blog/search-box-css/-->
						<img src="" class="search-img">
						<input name="location" type="text" placeholder="Locate Mate!" autocomplete="off">
					</form>
				</li>
				<li id="search-browse" class="dropdown">
					<a class="dropdown-toggle link-reset" href="">Browse<img src=""></a>
					<ul class="dropdown-menu">
						<li>Close Friends</li>
						<li>Popular</li>
						<li>Other</li>
					</ul>
				</li>
			</ul>


			<ul id="log-in" class="nav pull-right">
				<li id="sign-up">
					<a href="" class="link-reset">Sign up</a>
				</li>
				<li id="login">
					<a href="" class="link-reset">Log in</a>
				</li>
			</ul>
			<ul id="help" class="nav pull-right">
				<li class="dropdown">
					<a id="help_dropdown" class="dropdown-toggle link-reset" href="">Help<img src=""></a>
					<div class="dropdown-menu">
						<div class="head-sentence">
							<a href="" class="help-center-link">Visit the Help Center</a>
						</div>
						<ul>
							<li>...</li>
							<li>...</li>
							<li>...</li>
						</li>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="map-seach">
		<div class="map">
		</div>
		<div class="slidebar">
			<div class="filters">
				<div class="filter-section slide-bar-section" id="friend-range">
					<div class="row">
						<div class="filter-label">
							<img src="">
							<div>People Range</div>
						</div>
						<input type="range" id="friend-range" class="slide-bar" min="1" max="3" value="1" step="1" onchange="showFriendRange(this.value);" />
						<output id="friend-range">1</output>
					</div>
				</div>
				<div class="filter-section slide-bar" id="time-range">
					<div calss="row">
						<div class="filter-label">
							<img src="">
							<div>Time Range</div>
						</div>
						<input type="range" id="time-range" class="slide-bar" min="1" max="7" value="1" step="1" onchange="showTimeRange(this.value);" />
						<span id="time-range">1</span>
					</div>
				</div>
				<div class="filter-section check-box" id="location-type">
				</div>
			</div>
			<div class="search-result">
				<div class="search-result-header">
				</div>
				<div class="search-result-container">
				</div>
				<div class="search-result-footer">
				</div>
			</div>
		</div>
	</div>

</body>
</html>

